html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(190,232,223);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 290px;
  max-height: 345px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ui {
  &.card {
    margin-bottom: 15px !important;
    margin-top: 25px !important;
  }
}